
<div class="signup_page">
<div class="row signup">
<div class="col-md signup-col">
<%= image_tag('signup1.jpg',id:"signup_img",alt: "mainimg" ) %>
<div class="quote"><pre>
 "I do believe 
 something very 
magical can happen
  when you read
   a good book"
   -J.K.Rowling
</pre></div>
</div>
<div class="col-md signup-col">
<div class="signup_form">
<h1 id="welcome">Welcome back!!</h1>
<h6 id="sub_welcome_text">login into your account</h6>
<div class="login_form">
<%= form_tag sessions_path do |form| %>
 <div class='field'>
   <%= label_tag :email %>
   <%= text_field_tag :email %>
 </div>
 <div class='field'>
   <%= label_tag :password %>
   <%= password_field_tag :password %>
 </div>
 <div class='field'>
 <h6 id="sub_welcome_text">Forget password?</h6>
 </div>
 <div class='actions'>
   <%= submit_tag "Login" %>
 </div>
 <p id='alert'><%= alert %></p>
 <div class='field'>
 <h6 id="sub_welcome_text">Don't have an account? <a href="">Sign up</a></h6>
 </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
